<section class="navbar-fixed">
	<nav id="nav"> 
		<section class="nav-wrapper">
			<a href="#" class="brand-logo"><%= logo %></a>
			<ul id="nav_list" class="right hide-on-med-and-down">
				<% navigation.each do |nav| %>
					<li><a href="#" data-request="<%= url_for(nav[:request])%>" data-target="view_port" data-type="link"><%= nav[:text] %></a></li>
				<% end %>
			</ul>
		</section>
	</nav>
</section>