<section class="navbar-fixed">
	<nav id="nav"> 
		<section class="nav-wrapper">
			<a href="#" class="bran-logo">RestMan</a>
			<ul id="nav_list" class="right hide-on-med-and-down">
				
			</ul>
		</section>
	</nav>
</section>